
body {
    font-family: Arial, sans-serif;
    background-image: url('https://st5.depositphotos.com/10614052/66922/i/450/depositphotos_669220232-stock-photo-fruit-basket-coffee-table-living.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #clearButton {
    background-color: #dc3545;
  }
  
  #clearButton:hover {
    background-color: #c82333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li.purchased {
    text-decoration: line-through;
    background-color: #d3d3d3;
  }
  
  